body {
    background: #333;
}

.sinbal {
    padding: 100px 0;
}

.sinbal> .case {
    position: relative;
    width: 809px;
    height: 450px;
 /* 보통은 높이를 자동으로 나두지만 이런 경우에는 예외 */
    margin: 0 auto;
    overflow: hidden;
}

.sinbal .case ul {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    transition-timing-function: cubic-bezier(.45,-1.25,1,1.39);
}

.num {
    display: flex;
        justify-content: center;
    gap: 40px;
    color: #fff;
    font-size: 30px;
}


